.about {
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-text {
  font-family: "Trade Gothic Condensed Italic";
  font-size: 48px;
  margin-top: 100px;
  color: white;
}

.about img {
  margin-bottom: 150px;
}
