.about {
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-text {
  font-family: "Trade Gothic Condensed Italic";
  font-size: 48px;
  margin-top: 100px;
  color: white;
}

.about img {
  margin-top: 70px;
  margin-bottom: 50px;
  border: 28px solid #fff;
}

.about-text-little {
  font-size: 20px;
  color: white;
  margin-bottom: 50px;
}

.about-text-little a {
  text-decoration-line: underline;

  text-decoration-thickness: 20%;
  text-underline-offset: 25%;
}
