.about {
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-text {
  font-family: "Trade Gothic", sans-serif;
  font-size: 20px;
  margin-top: 60px;
  color: white;
  text-transform: none;
  line-height: 150%;
}

.about img {
  margin-top: 70px;
  margin-bottom: 50px;
  border: 28px solid #fff;
}

.about-text-little {
  font-size: 20px;
  color: white;
}

.about-text-little a {
  text-decoration-line: underline;

  text-decoration-thickness: 20%;
  text-underline-offset: 25%;
}

.about-photos {
  margin-top: 50px;
  background: #fff;
  padding: 10px;

  // .row {
  //   margin-bottom: 20px; // Espace entre les lignes de photos
  // }

  img {
    width: 100%; // L'image prend toute la largeur de sa col-4
    height: auto; // Garde les proportions
    display: block;
    // border: none; // Enlève la bordure blanche si tu n'en veux pas ici
    margin-top: 0; // Reset le margin-top de ".about img" si besoin
  }
}

.about-photos-title {
  font-size: 90px;
}
