.detail-music {
  .ratio {
    position: relative;
    width: 100%;
    margin-bottom: 80px; /* <--- C'est ICI qu'il faut le mettre */

    &::before {
      display: block;
      padding-top: 56.25%; /* Ratio 16:9 */
      content: "";
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /* Supprime le margin-bottom d'ici, il ne sert à rien */
    }
  }
  .detail-title {
    font-size: 130px;
    font-weight: 800;
  }
}

.floral {
  // width: 100%; // Ta div prend toute la colonne

  iframe {
    // width: 100% !important;
    // min-width: 100%;
    // display: block; // Enlève les espaces résiduels sous l'iframe
    margin-bottom: 100px;
  }
}
