.detail-photo-1 img {
  margin: 60px 0px 60px;
}

.detail-photo-1-quote {
  font-size: 64px;
  font-weight: 800;
  line-height: 108.603%;
}

.detail-photo-1 .detail-infos {
  font-size: 32px;
  margin-bottom: 80px;
}
