.detail-video-1 {
  .ratio {
    position: relative;
    width: 100%;
    margin-bottom: 80px; /* <--- C'est ICI qu'il faut le mettre */

    &::before {
      display: block;
      padding-top: 56.25%; /* Ratio 16:9 */
      content: "";
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /* Supprime le margin-bottom d'ici, il ne sert à rien */
    }
  }
}
