.experience-music-tests {
  // Le conteneur principal
  // width: 100vw;
  // height: 100vh;
  border-bottom: 1px solid #000000;
  margin-bottom: 50px;

  .experience-music-tests-inner {
    // Styles pour l'intérieur si nécessaire
  }

  .experience-music-tests-image {
    width: 100%;
    // margin-top: 45px;
    border: 1px solid #000000;
    margin-bottom: 50px;
  }

  .experience-music-tests-title {
    font-size: 50px;
    font-weight: 800;
    line-height: 101.483%;
    margin-top: 40px;
  }

  .experience-music-tests-artists {
    font-size: 20px;
    font-weight: 750;
    line-height: 101.483%;
    margin-top: 20px;
  }

  .experience-player {
    margin-top: 70px;
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #000000;
    color: #fff;
    padding: 13px;
    width: 100%;

    input[type="range"] {
      flex: 1;
      appearance: none;
      height: 6px;
      background: #ffffff;

      &::-webkit-slider-thumb {
        appearance: none;
        width: 9px;
        height: 9px;
        background: #00f;
        border: none;
        cursor: pointer;
      }

      &::-moz-range-thumb {
        width: 12px;
        height: 12px;
        background: #00f;
        border: none;
        cursor: pointer;
      }
    }
  }

  .player-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    user-select: none;
    pointer-events: auto;
  }

  .hide {
    display: none;
  }
}
