.experience-music {
  border: 5px solid #000;
  width: 100vw;
  height: 100vh;
  margin-bottom: 120px;

  .experience-music-image {
    width: 100%;
    margin-top: 154px;
  }

  .experience-music-title {
    font-size: 65px;
    font-weight: 800;
    line-height: 101.483%;
    margin-top: 191px;
  }

  .experience-music-artists {
    font-size: 30px;
    font-weight: 750;
    line-height: 101.483%;
    margin-top: 30px;
  }

  //   .experience-music-link {
  //     position: relative;
  //   }
}
