.experience-music {
  width: 100vw;
  height: 100vh;
  margin-bottom: 120px;

  .experience-music-image {
    width: 100%;
    margin-top: 154px;
  }

  .experience-music-title {
    font-size: 65px;
    font-weight: 800;
    line-height: 101.483%;
    margin-top: 191px;
  }

  .experience-music-artists {
    font-size: 30px;
    font-weight: 750;
    line-height: 101.483%;
    margin-top: 30px;
  }

  //   .experience-music-link {
  //     position: relative;
  //   }
}

.experience-player {
  margin-top: 70px;
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: #000;
  color: #fff;
  padding: 18px;
  width: 100%;
}

.experience-player input[type="range"] {
  flex: 1;
  appearance: none;
  height: 6px;
  background: #ffffff;
}

.experience-player input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background: #00f;
  border: none;
  cursor: pointer;
}

.experience-player input[type="range"]::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #00f;
  border: none;
  cursor: pointer;
}

.player-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  user-select: none;
  pointer-events: auto;
}

.hide {
  display: none;
}
