.footer {
  color: white;
  padding-bottom: 36px;
  padding-top: 30px;
}

.footer-logo {
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 99%;
  :hover {
    color: #000000;
    animation: glitch 0.1s steps(2, end) infinite;
  }

  @keyframes glitch {
    0% {
      text-shadow: 0.5px 0 rgb(0, 0, 0), -2px 0 #0400ff;
    }
    50% {
      text-shadow: -0.5px 0 rgb(0, 0, 0), 2px 0 #0400ff;
    }
    100% {
      text-shadow: 0.5px 0 rgb(0, 0, 0), -2px 0 #0400ff;
    }
  }
}

.footer-social-media {
  display: flex;
  align-items: center;
  gap: 39px;
}

.footer-navig {
  font-family: "Trade Gothic Compressed";
  font-size: 30px;
  font-weight: 700;
  line-height: 90%;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
