.header {
  padding-top: 50px;
  margin-bottom: 100px;
}

.header-nav {
  margin-top: 15%;
}

.header-name {
  font-size: 70px;
  font-weight: 800;
  line-height: 101.483%;
  letter-spacing: 4.9px;
  margin-bottom: 10%;
}

.header-logo {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 95%;
  position: relative;

  :hover {
    color: #000000;
    animation: glitch 0.1s steps(2, end) infinite;
  }

  @keyframes glitch {
    0% {
      text-shadow: 2px 0 rgb(0, 0, 0), -2px 0 #0400ff;
    }
    50% {
      text-shadow: -2px 0 rgb(0, 0, 0), 2px 0 #0400ff;
    }
    100% {
      text-shadow: 2px 0 rgb(0, 0, 0), -2px 0 #0400ff;
    }
  }
}

.header a {
  text-decoration: none;
}

.header-experience {
  font-family: "Trade Gothic Compressed";
  text-align: right;
  font-size: 80px;
  font-weight: 700;
  line-height: 90%;
  letter-spacing: 6px;
  margin-bottom: 19px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin-bottom: 10%;
  &.is-active .header-experience-svg {
    display: block;
  }
}

.header-projects {
  font-family: "Trade Gothic Compressed";
  text-align: right;
  font-size: 64px;
  font-weight: 700;
  line-height: 90%;
  margin-bottom: 19px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  &.is-active .header-projects-svg {
    display: block;
  }
}

.header-about {
  font-family: "Trade Gothic Compressed";
  text-align: right;
  font-size: 64px;
  font-weight: 700;
  line-height: 90%;
  margin-bottom: 19px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  &.is-active .header-about-svg {
    display: block;
  }
}

.header-contact {
  font-family: "Trade Gothic Compressed";
  text-align: right;
  font-size: 64px;
  font-weight: 700;
  line-height: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  &.is-active .header-contact-svg {
    display: block;
  }
}

.header-experience-svg {
  display: none;
}

.header-projects-svg {
  display: none;
}

.header-about-svg {
  display: none;
}

.header-contact-svg {
  display: none;
}

// MOBILE

/* Overlay par défaut caché */
.mobile-overlay {
  display: none; /* cacher par défaut */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000; /* écran noir */
  color: #fff; /* texte blanc */
  z-index: 9999; /* au-dessus de tout le site */
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.mobile-overlay-text {
  font-size: 1.2rem;
  line-height: 1.5;
  max-width: 80%;
}

/* Quand l'écran est petit (mobile / tablette) */
@media (max-width: 1024px) {
  .mobile-overlay {
    display: flex; /* affiche seulement sur mobile */
  }
}
