.header {
  padding-top: 40px;
  margin-bottom: 100px;
}

.header-logo {
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 95%;
}

.header a {
  text-decoration: none;
}

.header-projects {
  font-family: "Trade Gothic Compressed";
  text-align: right;
  font-size: 100px;
  font-weight: 700;
  line-height: 90%;
  margin-bottom: 19px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  &.is-active .header-projects-svg {
    display: block;
  }
}

.header-about {
  font-family: "Trade Gothic Compressed";
  text-align: right;
  font-size: 64px;
  font-weight: 700;
  line-height: 90%;
  margin-bottom: 19px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  &.is-active .header-about-svg {
    display: block;
  }
}

.header-contact {
  font-family: "Trade Gothic Compressed";
  text-align: right;
  font-size: 64px;
  font-weight: 700;
  line-height: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  &.is-active .header-contact-svg {
    display: block;
  }
}

.header-projects-svg {
  display: none;
}

.header-about-svg {
  display: none;
}

.header-contact-svg {
  display: none;
}
