.index-header {
  color: white;
  margin-bottom: 500px;

  .index-video {
    position: relative;
  }

  .index-video video {
    position: absolute;
    height: 700px;
    width: 100%;
    object-fit: cover;
    object-position: 0% 70%;
  }

  .index-header-text {
    position: relative;
  }
}
