// .index-header {
//   color: white;
//   margin-bottom: 500px;

//   .index-video {
//     position: relative;
//   }

//   .index-video video {
//     position: absolute;
//     height: 700px;
//     width: 100%;
//     object-fit: cover;
//     object-position: 0% 70%;
//   }

//   .index-header-text {
//     position: relative;
//   }
// }

.index-header {
  position: relative;
  color: white;
  height: 100vh;
  overflow: hidden;
}

.index-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.index-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 70%;
}

.index-header-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
