.project-category {
  font-size: 16px;
  display: flex;
  gap: 9px;
}

.project-title {
  font-family: "Trade Gothic Condensed Italic";
  font-size: 48px;
  font-weight: 800;
  word-break: break-all;
}
