.project-music {
  color: white;
  background-color: black;
  padding-bottom: 20px;
  margin-bottom: 120px;

  .project-image {
    height: 443px;
    width: 100%;
    object-fit: cover;
  }

  .project-title {
    text-align: right;
    position: absolute;
    top: 72px;
    right: 42px;
  }

  .project-link {
    position: relative;
  }

  .project-category {
    margin-top: 10px;
  }
}
