.project-music {
  margin-bottom: 130px;
  margin-top: 50px;
  .project-image {
    height: 450px;
    width: 100%;
    object-fit: cover;
    border: 20px solid #000000;
  }
  .project-category {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
