@import "bootstrap/scss/bootstrap-grid";
@import "font";
@import "base";
@import "layout";
@import "modules/project-photo";
@import "modules/project-music";
@import "modules/project-video";
@import "modules/experience-music";
@import "modules/project";
@import "modules/header";
@import "modules/index";
@import "modules/footer";
@import "modules/detail-title";
@import "modules/detail-photo-1";
@import "modules/button-back-to-projects";
@import "modules/detail-infos";
@import "modules/detail-music-1";
@import "modules/detail-video-1";
@import "modules/contact";
@import "modules/about";

// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }
